@model  DVTManagementSystem.Models.UserProfile
@{
    ViewBag.Title = "Login";

}

<link rel="stylesheet " href="~/Content/CSSLogin.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/PopUpFunction.js"></script>


@using (Html.BeginForm("Login", "Authentication"))
{

    <div class="labels">
        
                <div class="titles"><h1>LOG IN</h1></div>

                @if (ViewBag.Error != null)
                        {

                    <div>
                        @ViewBag.Message
                        <h3 style="color:red">@ViewBag.Error</h3>
                    </div>
                }

                @*<div class="table-responsive">
                    <div class="form-div">*@
                        <div class="form-group">

                            @Html.DisplayNameFor(model => model.EmailAddress)
                            <td width="20%">:</td>
                            <div>
                                 @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "editor" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Name("Password")
                            <td width="20%">:</td>
                            <div class="editor">
                                @Html.PasswordFor(model => model.PasswordHash, new { @class = "editor" })
                            </div>
                        </div>

                        <input type="submit" value="Login" class="mybtn">


                        <div class="errors">
                            @{
                                ViewBag.Error = "Login";

                            }
                        </div>
        <div data-toggle="modal" data-target="#myModal" style="cursor:pointer;color:yellow">
            <p>FORGET PASSWORD?</p>
        </div>
 
</div>
    
}


@using (Html.BeginForm("LostPassword", "LostPassword"))
{
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">FORGET PASSWORD</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <form action="LostPassword" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.EmailAddress)

                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">SUBMIT</button>
                            <button class="btn btn-primary" data-dismiss="modal">CLOSE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


 }

